<%= simple_form_for(@geem, remote: true, html: {id: "form_validation"}) do |f| %>
  <%= f.input :name, label: 'gem名称', wrapper: :form_float_required %>
  <%= f.input :use_for, label: 'gem用途', wrapper: :form_float_required %>
  <%= f.input :url, label: 'gem——url', wrapper: :form_float_required %>
  <label for="geem_labels">gem标签</label>
  <%= f.input :labels, wrapper: :vertical_tag %>
  <%= f.button :submit, '提交', class: 'btn btn-block btn-lg btn-primary waves-effect' %>
<% end %>