<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li>
          <%= link_to root_path do %>
            <%= material_icon.home %>
            <span><%= t("menu.home")%></span>
          <% end %>
        </li>

        <li>
          <%= link_to commands_path do %>
            <%= fa_icon "terminal", class: "fa-2x" %>
            <span><%= t("menu.cmd") %></span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
  <%= render 'shared/right_nav' %>
</section>