<%= simple_form_for(@link, remote: true, html: {id: "form_validation"}) do |f| %>
  <%= f.input :content, label: '链接内容', wrapper: :form_float_required %>
  <%= f.input :use_for, label: '链接用途', wrapper: :form_float_required %>
  <label for="link_labels">链接标签</label>
  <%= f.input :labels, wrapper: :vertical_tag %>
  <%= f.button :submit, '提交', class: 'btn btn-block btn-lg btn-primary waves-effect' %>
<% end %>