<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            <%= t("menu.link") %>
            <button type="button" class="btn btn-primary waves-effect pull-right" data-toggle="modal" data-target="#defaultModal" data-text='新增链接' data-href=<%= new_link_path %> data-method='GET' >新增链接</button>
          </h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-table dataTable">
              <thead>
                <tr>
                    <th>链接内容</th>
                    <th>链接用途</th>
                    <th>链接标签</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>链接内容</th>
                    <th>链接用途</th>
                    <th>链接标签</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
              </tfoot>
              <tbody>
                <% @links.each do |link| %>
                  <tr>
                    <td><%= link.content %><button class="clipboard-btn" type="button" data-clipboard-text="<%= link.content %>"><%= image_tag("clippy.svg", size: '16x18', alt: "copy") %></button></td>
                    <td><%= link.use_for %></td>
                    <td><%= link.labels %></td>
                    <td><button type="button" class="no_style_btn" data-toggle="modal" data-target="#defaultModal" data-text='编辑链接' data-href=<%= edit_link_path(link) %> data-method='GET' ><%= material_icon.mode_edit %></button></td>
                    <td><button type="button" class="no_style_btn" data-toggle="modal" data-target="#defaultModal" data-text='链接删除后无法恢复，确定删除吗？' data-href=<%= confirm_link_path(link) %> data-method='GET' ><%= material_icon.delete %></button></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
