<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>

  <body class=<%= current_theme %> >
    <%= render 'shared/top_nav' %>
    <%= render 'shared/left_nav' %>
    <section class="content">
      <%= yield %>
      <%= render 'shared/modal' %>
    </section>
  </body>
</html>
